@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{

	#skillGrid
		{
			/*margin: 5% 0;*/
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 3em;
			text-align: center;
		}

}	/* Styles */